nav {
  z-index: 11;
  position: fixed;
  background-color:var(--clr-light-grey);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0;
  height: max-content;
  justify-content: space-between;
  font-size: min(1rem, 2vw);
}
