<nav>
  <span class="left">
    <img class="logo" [routerLink]="''" src="assets/feature-icons/logo.png" alt="">
  </span>
  <span class="right">
    <a class="btn" href="#" aria-label="home page" routerLink="" *ngIf="!(router.url === '/')">Home</a>
    <a class="btn" href="#" aria-label="favorite locations" routerLink="fav" *ngIf="!(router.url === '/fav')">Favorites</a
    >
    <a class="btn switch-btn" (click)="switchUnit()"
      >To {{ unit === 'C' ? 'F°' : 'C°' }}</a
    >
    <a class="btn switch-btn" (click)="switchTheme()"
      >{{ theme === 'light-theme' ? 'Dark' : 'Light' }} Theme</a
    >
  </span>
</nav>
