<div tabindex="0" (click)="routeToMain()" class="container">
  <span class="name">
    {{ location.name }}
  </span>
  <span class="temp" *ngIf="!loading">
    {{ currentForecast.tempMax | tempeture }}
  </span>
  <span class="loading" *ngIf="loading"></span>
  <img
    class="icon"
    [src]="'assets/weather-icons/' + currentForecast.icon + '-s.png'"
    [alt]="currentForecast.iconPhrase"
     *ngIf="!loading"
  />
  <span class="phrase" *ngIf="!loading"> {{ currentForecast.iconPhrase }} </span>
</div>
