<form (submit)="searchLocation($event)">
  <div class="search-box" [class.empty]="!currentQueryResults.length">
    <span [class.has-query]="inputHasString" class="input-wraper">
      <input
        #searchBox
        autocomplete="off"
        type="text"
        name="search"
        [formControl]="search"
        aria-label="Search for location"
      />
    </span>
    <ul class="search-options">
      <li
        tabindex="0"
        (click)="selectLocation(location)"
        (keyup.enter)="selectLocation(location)"
        *ngFor="let location of currentQueryResults"
      >
        {{ location.name }}
      </li>
    </ul>
  </div>
</form>
